.cta-box__container {
  display: flex;
  min-height: 50vh;
  background-size: 110%;
  background-position: center center;
  transition: all ease 0.8s;
  background-repeat: no-repeat;
  &:before {
    content: "";
    display: flex;
    min-height: 50vh;
    min-width: 50%;
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    transition: all ease 0.8s;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
    background-size: 125%;
    cursor: pointer;
    .cta-box__text {
      padding: 20px 15px;
      background-color: $color-red;
    }
  }
  @include media("<=1200px") {
    background-size: 150%;
    &:hover {
      background-size: 175%;
    }
  }

  @include media("<=880px") {
    background-size: cover;
    &:hover {
      background-size: cover;
    }
  }
}
.cta-box__text {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  color: $color-white;
  font-size: 2rem;
  text-transform: lowercase;
  transition: all ease 0.5s;
  @include media("<=768px") {
    font-size: 1.75rem;
  }
}
a {
  text-decoration: none;
}
