.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
  padding-top: 60px;
  position: relative;
  z-index: 9;
  translate: 0;
  transition: all ease-in-out 0.8s;
  &.scrolled {
    position: fixed;
    height: 90px;
    padding-top: 0;
    .nav__logo {
      img {
        width: 40%;
        @include media("<=768px") {
          width: 80%;
        }
      }
    }
    .nav__button {
      span.menu-bar {
        background-color: $color-red;
      }
    }
    background: rgba(255, 255, 255, 0.9);
    transform: translate(0, -150px);
    opacity: 0;
    animation: slideDown 0.8s forwards;
  }
  @keyframes slideDown {
    0% {
      transform: translate(0, -150px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

.nav__container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  @include media(">1550px") {
    max-width: 1440px;
  }
  @include media("<1220px") {
    max-width: 80%;
  }
  @include media(">2000px") {
    max-width: 1920px;
  }
}

.nav__logo {
  img {
    width: 100%;
    @include media("<=768px") {
      width: 80%;
    }
  }
}

.nav__button {
  span.menu-bar {
    display: block;
    height: 3px;
    width: 40px;
    border-radius: 20px;
    position: relative;
    background-color: $color-white;

    &:first-child {
      margin-bottom: 12px;
    }
    &:last-child {
      transition: all ease 0.2s;
      float: right;
    }
  }
  &:hover {
    cursor: pointer;
    span.menu-bar {
      &:last-child {
        width: 30px;
      }
    }
  }
}

.drawer-nav__container {
  display: flex;
  max-width: 25vw;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: $color-red;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  transition: all ease-in-out 0.3s;
  @include media("<=768px") {
    max-width: 60vw;
  }
}

.drawer-nav__items {
  padding-top: 100px;
  width: 50%;
  justify-content: center;
  ul {
    list-style: none;
    li {
      padding: 10px 10px;
      margin: 30px 0;
      justify-content: center;
      position: relative;
      width: 100%;
      a {
        color: $color-white;
        text-decoration: none;
        font-family: "Poppins";
        font-size: 1.25rem;
        transition: all ease 0.4s;
        position: absolute;
      }
      &:before {
        transition: all ease 0.4s;
      }
      &:hover {
        a {
          font-size: 1.4rem;
        }
        &:before {
          background-size: 1.4rem;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      @include media("<=1200px") {
        margin: 50px 0;
        a {
          font-size: 1rem;
        }
        &:hover {
          a {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  @include media("<=1200px") {
    width: 70%;
  }
}

.icon-instagram {
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../images/icons/instagram-brands.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    margin-left: -35px;
    margin-top: 5px;
    width: 20px;
    height: 30px;
    transition: all ease 0.8s;
  }
}
.icon-shopping {
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../images/icons/shopping-bag-solid.svg");
    background-size: 20px;
    margin-left: -35px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
  }
}
.icon-look {
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../images/icons/glasses-regular.svg");
    background-size: 20px;
    margin-left: -35px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
}
.close-icon {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5%;
  top: 2.5%;
  transition: all ease-in-out;
  img {
    width: 30px;
    transition: all linear 0.3s;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: rotate(180deg);
    }
  }
}

.closed {
  transform: translate(100vw);
  transition: all ease-in-out 0.5s;
}
